<div>
  <p>Pack de 100 tokens</p><button class="btn btn-primary btn-large"><%= link_to 'Buy with PAYPAL', @cart.paypal_url("", 1, "Pack de 100 Tokens") %></button>
  <p>Pack de 200 tokens</p><button class="btn btn-primary btn-large"><%= link_to 'Buy with PAYPAL', @cart.paypal_url("", 2, "Pack de 200 Tokens") %></button>
</div>
