<div>
  <p>Pack de 100 tokens</p><%= link_to 'Buy with PAYPAL', @cart.paypal_url("http://google.fr", 1, "Pack de 100 Tokens") %>
  <p>Pack de 200 tokens</p><%= link_to 'Buy with PAYPAL', @cart.paypal_url("http://google.fr", 2, "Pack de 200 Tokens") %>
</div>