<!-- Slideshow -->
<section id='slideshow'>
  <div class='container'>

  </div>
</section>

<!-- Login bar -->
<section id='login-bar'>
    <div class='container'>
        <input type="email" class="form-control" placeholder="Login/E-mail">
        <input type="password" class="form-control" placeholder="Password">
        <button class="button button-green">Login</button>
        <button class="button button-red">Register</button>
    </div>
</section>

