// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * All header styles
 */
header
{
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: #34495e;
  left: 0;
  top: 0;

  #logo
  {
    color: #fff;
    float:left;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 26px;
    padding:10px;
  }

  #header-menu
  {
    float: right;
    list-style: none;

    li{
      float: left;
      color: #bdc3c7;
      font-size: 14px;
      padding: 10px;
    }

    .active
    {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #2c3e50;
      color: #ecf0f1;
    }
  }
}

/*
 * All home styles
 */

section
{
  width: 100%;
}

#slideshow
{
  background-image: url(image_path('shop/slideshow/1.png'));
  background-repeat: no-repeat;
  background-size: 100%;
  height: 580px;
}

#login-bar
{
  background-color: #edeff1;
  border-top: 2px solid #d6dbdf;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 16px 0 20px;
  position: relative;
  text-align: center;

  button
  {
    margin-left: 18px;
  }
}

#social
{
  height: 200px;
  background-color: #fff;
}

#features
{
  background-color: #fff;
}

/*
 * All common styles
 */
body
{
  margin:0;
  padding-top: 72px;
  line-height: 1.4;
  font-family: "Lato", sans-serif;

}

.container
{
  width: 70%;
  margin: auto;
}

.form-control
{
  border: 2px solid #ffffff;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  margin-left: 24px;
  padding: 0px 12px;
  height: 38px;
  width: 300px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-control:hover {
  border-color: #bdc3c7;
}

.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button
{
  font-family: "Lato", sans-serif;
  height: 38px;
  color: white;
  font-size: 16px;
  width: 120px;
  border:none;
  transition: 0.5s linear;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
}

.button-red
 {
   background-color: #c0392b;
 }

.button-red:hover
{
  background-color: #e74c3c;
}

.button-green
{
  background-color: #16a085;
}

.button-green:hover
{
  background-color: #1abc9c;
}