<footer>
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="#">Hosting project</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Be sure to take a look at our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>The A team</h6>
        <div class="address">
          IG2I<br>
          13 Rue Jean Souvraz,
          <br>62300 Lens
        </div>
      </div>
    </div>
  </div>
</footer>