<footer>
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="#">Hosting project</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          <%= t('footer.tos').html_safe %>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>The A team</h6>
        <div class="address">
          <%= t('footer.address').html_safe %>
        </div>
      </div>
    </div>
  </div>
</footer>