<!-- Header -->
<header>
  <div class='container'>
    <!-- Logo -->
    <div id="logo">Hosting project</div>

    <!-- Main menu -->
    <ul id='header-menu'>
      <li class='active'>Accueil</li>
      <li>Fonctionnalités</li>
      <li>Prix</li>
      <li>Connexion</li>
      <li>Inscription</li>
    </ul>
  </div>
</header>